html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									
/* app css stylesheet */
nav {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	background-color: gray;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 18pt;
}

nav h1 {
	font-size: 24pt;
}
nav a {
	border: 1px solid black;
	background-color: gray;
	border-radius: 0.2em;
	margin: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	font-size: 24pt;
}

nav a:link, nav a:visited {
	color: black;
	text-decoration: none;
}
nav a:hover {
	background-color: lightgray;
}

#filterList, #newFilter {
	padding-left: 1em;
	list-style: none;
	display: block;
	width: 10em;
	background-color: gray;
	border-right: 1px solid black;
}
#filterList li {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	border: 0;
}
#newFilter {
	padding-left: 2em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 0 0.5em 1em 0;
}
