@import "reset.css";
@import "colors.less";
/* app css stylesheet */
body {
	background-color: #b7b7b7;
}
nav {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	.navbarGradient;
	border-bottom: 1px solid black;

	h1 {
		margin-left: 2em;
		margin-right: 3em;
		font-size: 28pt;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			font-size: 18pt;
			a {
				border: 1px solid black;
				border-radius: 0.2em;

				padding-left: 0.5em;
				padding-right: 0.5em;

				font-family: sans-serif;
				text-shadow: #EEEEEE 0px 1px;
				.buttonGradient;
				&:link, &:visited {
					color: #333333;
					text-decoration: none;
				}
				&:hover {
					background-color: lightgray;
				}
				&:active {
					background-color: white;
				}
			}
		}
	}
}

#filterList {
	border: 1px solid black;
	border-bottom: 0;
	border-top: 0;
	width: 10em;
	list-style: none;
	
	li {
		background-color: #7F7F7F;
		border-bottom: 1px solid darken(#7f7f7f, 10%);
		padding-left: 0.5em;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		&:hover {
			background-color: lightgray;
		}
		&:active {
			background-color: white;
		}
		&.current {
			background-color: lightgray;
		}

		button {
			float: right;
			border: 0;
			width: 1em;
			margin-right: 0.5em;
			background-color: transparent;
			&:hover {
				background-color: white;
				box-shadow: inset 0 0 2px 2px gray;
			}
		}

		&:last-child {
			border: 0;
		}
	}
}

#newFilter {
	font-size: 14pt;
	background-color: #7F7F7F;
	border: 1px solid black;
	width: 10em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 0 0.0em 0.5em 0;
	font-size: 14pt;
	&:hover {
		background-color: lightgray;
	}
	&:active {
		background-color: white;
	}
	&.current {
		background-color: lightgray;
	}
}

#view {
	position: absolute;
	left: 54em;
	top: 4em;
	border: 1px solid black;
	border-radius: 0.3em;
	background-color: gray;
	fieldset {
		display: block;
		margin-bottom: 1em;
		input {
			float: right;
			margin-left: 1em;
		}
		label {
			float: left;
			display: inline-block;
		}
		p {
			display: block;
			clear: both;
			width: 20em;
		}
		clear: both;
	}
	label {
	}
	button {
		&#closeView {
			float: right;
		}
	}
	button[type="submit"] {
		margin-top: 0.5em;
		display: block;
		float: none;
	}

	div#controls {
		margin: 1em;
		margin-top: 1.5em;
		display: block;
	}
}
canvas {
	position: absolute;
	left: 15em;
	background-color: black;
}
.color-slider {
	-moz-appearance: slider-vertical;
	-webkit-appearance: slider-vertical;
	width: 1.5em;
}
