.buttonGradient () {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.53) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.2) ), color-stop(100%, rgba(255, 255, 255, 0.53) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#33000000',
		endColorstr='#87ffffff', GradientType=0 ); /* IE6-9 */
}

.navbarGradient() {
	background: rgb(252, 252, 252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,
		252, 252, 1) ), color-stop(100%, rgba(147, 147, 147, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#fcfcfc',
		endColorstr='#939393', GradientType=0 ); /* IE6-9 */
}
