<h1>Blur</h1>
<form ng-submit="setFilter()">
	<label for="amount">Amount of blur</label>
	<input type="range" ng-model="radius" name="amount"/>
	<fieldset>
		<label for="blendingModes">Blending modes</label>
		<!-- <select id="blendingModesId" name="blendingModes" ng-model="filter.blendingModes" ng-change="setFilter()">
			<option id="blendAdd" value="FUNC_ADD" selected>FUNC_ADD</option>
			<option id="blendSub" value="FUNC_SUBTRACT">FUNC_SUBTRACT</option>
			<option id="blendNegSub" value="FUNC_REVERSE_SUBTRACT">FUNC_REVERSE_SUBTRACT</option>
		</select> -->
		<select ng-model="filter.blendingModes" ng-change="setFilter()">
			<option value="FUNC_ADD" selected>Add</option>
			<option value="FUNC_SUBTRACT">Subtract</option>
			<option value="FUNC_REVERSE_SUBTRACT">Reverse Subtract</option>
		</select>
	</fieldset>
	<fieldset>
		<label for="alpha">Alpha</label>
		<input type="range" ng-model="filter.alpha" value="1.0" max="1.0" min="0.0" step="0.01" ng-change="setFilter()"></input>
	</fieldset>
	<button type="submit">Submit</button>
</form>
