<h1>Change canvas settings</h1>
<form ng-submit="setFilter()">
	<fieldset>
		<label for="width">Set width</label>
		<input type="number" ng-model="width" name="width" placeholder="{{filter.width}}"/>
	</fieldset>
	<fieldset>
		<label for="height">Set height</label>
		<input type="number" ng-model="height" name="height" placeholder="{{filter.height}}"/>
	<fieldset>
	<button type="submit">Update filter</button>
</form>
