<h1>Render perlin noise</h1>
<form ng-submit="setFilter()">
	<fieldset>
		<label for="seed">Random seed</label>
		<input type="number" ng-model="filter.seed" ng-change="setFilter()" name="seed" />
		<p>
			The random seed used to generate the clouds.
		</p>
	</fieldset>
	<fieldset>
		<label for="size">Size</label>
		<input type="number" ng-model="filter.size" ng-change="setFilter()" name="size" />
		<p>
			The size of the clouds.
		</p>
	<fieldset>
	<fieldset>
		<label for="blendingModes">Blending modes</label>
		<select name="blendingModes" ng-model="filter.blendMode" ng-change="setFilter()" ng-options="bm.visibleName for bm in blendModes"></select>
	</fieldset>
	<fieldset>
		<label for="alpha">Alpha</label>
		<input type="range" ng-model="filter.alpha" value="1.0" max="1.0" min="0.0" step="0.01" ng-change="setFilter()"></input>
	</fieldset>
	<button type="submit">Update filter</button>
</form>
<!--
<option value="ZERO">ZERO</option>
<option value="ONE">ONE</option>
<option value="SRC_COLOR" selected>SRC_COLOR</option>
<option value="CONSTANT_ALPHA">SRC_ALPHA</option>
<option value="CONSTANT_COLOR">SRC_ALPHA</option>
<option value="SRC_ALPHA_SATURATE">SRC_ALPHA</option>
-->
