<h1>Fall-through</h1>
<form ng-submit="setFilter()">
	<fieldset>
		<label for="blendingModes">Blending modes</label>
		<select name="blendingModes" ng-model="filter.blendMode" ng-change="setFilter()" ng-options="bm.visibleName for bm in blendModes"></select>
	</fieldset>
	<fieldset>
		<label for="alpha">Alpha</label>
		<input type="range" ng-model="filter.alpha" value="1.0" max="1.0" min="0.0" step="0.01" ng-change="setFilter()"></input>
	</fieldset>
	<button type="submit">Submit</button>
</form>
