<h1>Flat color</h1>
<form ng-submit="setFilter()" id="flatColorCtrl">
		<input class="color-slider" name="rCol" type="range" ng-model="filter.r" value="1.0" max="1.0" min="0.0" step="0.01" ng-change="setFilter()"></input>
		<label for="rCol" ng-bind="filter.r">Red</label> 
		<input class="color-slider" name="gCol" type="range" ng-model="filter.g" value="1.0" max="1.0" min="0.0" step="0.01" ng-change="setFilter()"></input>
		<label for="gCol" ng-bind="filter.g">Green</label> 
		<input class="color-slider" name="bCol" type="range" ng-model="filter.b" value="1.0" max="1.0" min="0.0" step="0.01" ng-change="setFilter()"></input>
		<label for="bCol" ng-bind="filter.b">Blue</label> 
	<fieldset>
		<label for="blendingModes">Blending modes</label>
		<select name="blendingModes" ng-model="filter.blendMode" ng-change="setFilter()" ng-options="bm.visibleName for bm in blendModes"></select>
	</fieldset>
	<fieldset>
		<label for="alpha">Alpha</label>
		<input type="range" ng-model="filter.alpha" value="1.0" max="1.0" min="0.0" step="0.01" ng-change="setFilter()"></input>
	</fieldset>
	<button type="submit">Submit</button>
</form>
