<h1>Create new filter!</h1>
<form ng-submit="addNewFilter()">
	<select name="filterType" ng-model="newFilterType">
		<option ng-repeat="filter in filters.list" value="{{filter.name}}">{{filter.visibleName}}</option>
	</select>
	<button type="submit">Add new filter to list</button>
</form>
<option>
