<!doctype html>
<html lang="en" ng-app="filtrStackr">
	<head>
		<meta charset="utf-8">
		<title>FiltrStackr</title>
		<link rel="stylesheet/less" type="text/css" href="css/app.less"/>
		<script src="lib/less-1.4.1.min.js"></script>
	</head>
	<body ng-controller="FiltrStackrMain" ng-init="loadFilters()">
		<img src="./img/blomkruka.png" style="display: none"></img>
		<nav>
			<ul>
				<li>
					<h1>FiltrStackr</h1>
				</li>
				<li>
					<a ng-click="clearFilters()">New</a>
				</li>
				<li>
					<a ng-click="saveFilters()">Save</a>
				</li>
				<li>
					<a ng-click="print()">Download image</a>
				</li>
				<li>
					<a href="#">Back to gallery</a>
				</li>
			</ul>
		</nav>
		<canvas id="webglCanvas" width="512" height="512" webgl-canvas></canvas>
		<div id="view" ng-show="showView">
			<button id="closeView" ng-click="closeView()">Close</button>
			<div id="controls" ng-view></div>
		</div>
		<ol sortable="list" id="filterList">
			<li ng-repeat="filter in filterList" id="filter-{{$index}}" class="{{filter.type.name}}" ng-click="filterClick($event, filter)">
				<span ng-bind="filter.type.visibleName">Filter Name</span>
				<button ng-click="removeFilter($event, filter)">X</button>
			</li>
		</ol>
		<a id="newFilter" href="#/newFilter" ng-click="filterClick($event, 'new')">Add new filter</a>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
		<script src="lib/angular/angular.js"></script>
		<!-- <script src="lib/jquery/jquery-ui-1.10.3.custom.js"></script> -->
		<!-- Innehåller slider som är helt onödig. -->
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="js/webgl.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
	</body>
</html>
